<%= simple_form_for(@ad) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :titel %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :price_type %>
    <%= f.input :postal_code %>
    <%= f.input :place_id %>
    <%= f.input :street %>
    <%= f.input :ad_type %>
    <%= f.input :contact_name %>
    <%= f.input :phonenumber %>
    <%= f.input :in_galery %>
    <%= f.input :galery_end %>
    <%= f.input :top_ad %>
    <%= f.input :top_ad_end %>
    <%= f.input :highlight %>
    <%= f.input :highlight_end %>
    <%= f.input :repeat_to_top %>
    <%= f.input :repeat_to_top_end %>
    <%= f.input :main_image %>
    <%= f.input :category_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
