<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ad.user_id %>
</p>

<p>
  <strong>Titel:</strong>
  <%= @ad.titel %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Price type:</strong>
  <%= @ad.price_type %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @ad.postal_code %>
</p>

<p>
  <strong>Place:</strong>
  <%= @ad.place_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @ad.street %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @ad.ad_type %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @ad.contact_name %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @ad.phonenumber %>
</p>

<p>
  <strong>In galery:</strong>
  <%= @ad.in_galery %>
</p>

<p>
  <strong>Galery end:</strong>
  <%= @ad.galery_end %>
</p>

<p>
  <strong>Top ad:</strong>
  <%= @ad.top_ad %>
</p>

<p>
  <strong>Top ad end:</strong>
  <%= @ad.top_ad_end %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @ad.highlight %>
</p>

<p>
  <strong>Highlight end:</strong>
  <%= @ad.highlight_end %>
</p>

<p>
  <strong>Repeat to top:</strong>
  <%= @ad.repeat_to_top %>
</p>

<p>
  <strong>Repeat to top end:</strong>
  <%= @ad.repeat_to_top_end %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @ad.main_image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ad.category_id %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
